.div_carrito_vacio{
    margin: auto;
    text-align: center;
    margin-top: 100px;
    h2{
        color: white;
        margin-bottom: 10px;
    }
    .link_volver{
        color: white;
        &:hover{
            color: violet;
        }
    }
}


.titulo_carrito{
    color: white;
    margin: 50px auto;
    text-align: center;
}
.div_precio_total{
    margin: 30px auto 215px;
    text-align: center;
    background-color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);

    .precio_total{
        color: black;
        margin: 10px 50px 0px;
    }
    .boton_compra{
        margin: 0px 20px 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 30px;
        width: 250px;
        text-align: center;
        border: none;
        background-color: rgb(9, 38, 61);
        color: white;
        transition: 0.3s;
        &:hover{
            background-color: rgb(18, 112, 31);
            transition: 0.3s;
        }
    }
}

.div_cards_2{
    max-width: 1200px;
    margin: auto;
    .div_products_2{
        &:hover{
            transform: none !important;
        }
        .cantidad_agregado{
            position:absolute;
            margin: 0px 0px 245px 145px;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border-radius: 100px;
            background-color: rgb(9, 38, 61);
            color: white;
        }
        .eliminar_producto{
            margin: 10px auto 0px;
            width: 180px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            height: 30px;
            text-align: center;
            border: none;
            background-color: rgb(9, 38, 61);
            color: white;
            transition: 0.3s;
            &:hover{
                background-color: rgb(179, 28, 28);
                transition: 0.2s;
            }
        }
    }
    
}
.boton_vaciar-carrito{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
    text-align: center;
    border: none;
    background-color: rgb(9, 38, 61);
    color: white;
    transition: 0.3s;
    &:hover{
        background-color: rgb(179, 28, 28);
        transition: 0.2s;
    }
}
