.boton_favorito{
    padding: 2px 5px;
    text-align: center;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    background-color: white;
    color: black;
}

.boton_no_favorito{
    padding: 2px 5px;
    text-align: center;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    background-color: white;
    color: red;
}