.div_detail_container{
    display: flex;
    width: 500px;
    min-height: 600px;
    justify-content: space-around;
    margin: 40px auto 228px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);

    .div_detail{
        img{
            margin: auto;
            display: block;
            width: 300px;
            max-height: 270px;
        }
        .detail_name{
            color: black;
            font-size: 35px;
            margin: 20px 0px;
            text-align: center;
        }
        .detail_price{
            font-size: 40px;
            display: inline-block;
            margin: 20px;
            text-align: center;
            display: block;
        }
        .detail_text{
            margin: auto;
            text-align: center;
            max-width: 450px;
        }
        .link_carrito{
            text-align: center;
            margin: 40px 0px 0px;
            display: block;

            &:hover{
                color: red;
            }
        }
        .link_volver_inicio{
            @extend .link_carrito;
            margin: 10px;
        }
    }
}