.div_detail_container{
    display: flex;
    width: 500px;
    height: fit-content;
    justify-content: space-around;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);

    .div_detail{
        img{
            margin: auto;
            display: block;
            width: 300px;
            max-height: 270px;
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
            border-radius: 5px;
        }
        .detail_name{
            color: black;
            font-size: 35px;
            margin: 20px 0px;
            text-align: center;
        }
        .detail_price{
            font-size: 40px;
            display: inline-block;
            margin: 20px;
            text-align: center;
            display: block;
        }
        .detail_text{
            margin: auto;
            text-align: center;
        }
    }
}