.div_products_link{
    text-decoration: none;
}

.titulo_redirigir{
    width: 100%;
    text-align: center;
    h3{
        display: inline-block;
        margin: 0px 10px;
        padding: 0;
    }
    a{
        display: inline-block;
        font-size: 12px;
        color: rgb(70, 184, 230);
        text-decoration: none;
        margin: 0;
        padding: 0;

        &:hover{
            text-decoration: underline;
        }
    }
    
}

.div_cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;

    .div_products{
        background-color: white/* rgba(11, 46, 75, 0.836) */;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 180px;
        margin: 0px 20px 20px;
        padding: 10px;
        border-radius: 7px;
        color: white;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
        transition: 0.3s;

        &:hover{
            transform: scale(1.1,1.1);
            transition: 0.3s;
        }
    
        img{
            width: 150px;
            height: 160px;
            margin: 10px;
            border-radius: 2px;
            box-shadow: 2px 0px 4px 2px rgba(0, 0, 0, 0.6);
        }
        .div_precio{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            p{
                margin: 10px 10px 0px;
                padding: 0;
                color: rgb(11, 46, 75);
            }
            .precio_tachado{
                text-decoration:line-through;
                padding: 0;
                margin: 10px 5px 0px;
            }
            .porcentaje_off{
                font-size: 10px;
                margin-left: 5px;
                color: red;
                display: block;
            }
        }
        .div_nombre{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            h3{
                text-align: center;
                margin: 0px 5px 5px;
                color: rgb(11, 46, 75);
            }
            .boton_no_favorito{
                padding: 2px 5px;
                text-align: center;
                border: none;
                border-radius: 50px;
                font-size: 16px;
                background-color: grey;
                color: white;
                transition: 0.5s;
            }
            
            .boton_favorito{
                @extend .boton_no_favorito;
                background-color: transparent;
                color: rgb(11, 46, 75);
                transform: scale(1.5,1.5);
            }
        }
    }
}



