.footer {
    text-align: center;
    background-color: rgba(29, 54, 75, 0.514);
    bottom: 0;
    position:relative;
    width: 100%;
    min-width: 300px;

    p {
        margin-bottom: 10px;
        display: inline-block;
        color: black;
        opacity: 0.6;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: bold;

        &:hover {
            color: rgb(16, 45, 75);
        }
    }
    .footer_list {
        li {
            display: inline-block;
            margin: 30px 50px 15px 50px !important;
            text-decoration: none;
            list-style-type: none;
        }
    }
}
