*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  body{
    background-image: url(https://a-static.besthdwallpaper.com/nebulosa-azul-papel-pintado-2560x1600-1628_7.jpg);

    .titulo_error{
      color: white;
      text-align: center;
      margin: 50px;
    }
  }
}