*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  body{
    background-image: url(https://img.freepik.com/foto-gratis/fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1108.jpg?w=2000);
  
    .div_cards{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 10px;
      padding: 10px;
    }
  }
}



